* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 320px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
  }
}

.action-button {
  background-color: #3040C4;
  color: #fff;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    background-color: #F3C6BD;
    width: 1140px;
    height: 62px;
    margin: auto;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
    min-width: 160px;
    min-height: 48px;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2B292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

.logo {
  display: flex;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
    display: block;
  }
}
.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline_content {
  margin: 15px;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .headline_content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    width: 160px;
    height: 48px;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
    height: 48px;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040C4;
  min-width: 158px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    width: 796px;
    height: 448px;
    top: 0;
    right: -105px;
    margin-top: 0;
    margin-left: auto;
  }
}

.audience {
  padding: 15px;
  background: #00A1C612;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px;
  }
}
.audience__desctiption {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__desctiption {
    margin-top: 0;
    width: 555px;
    margin: auto;
  }
}
.audience__title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-bottom: 24px;
  }
}
.audience__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  text-align: center;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
  }
}
.audience__about {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2B292D;
}
.audience__action-btn {
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .audience__action-btn {
    width: 158px;
  }
}
.audience__buttom {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__buttom {
    flex-direction: row;
    margin-bottom: 111px;
  }
}

.audience-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience-card {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2px;
  }
}
.audience-card__decoration {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.audience-card__image {
  max-width: 160px;
  max-height: 195px;
}
.audience-card__audience-card-caption {
  margin-top: 22px;
  margin-bottom: 13px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.audience-card .audience-card-buttom {
  margin-top: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #2B292D;
}
@media screen and (min-width: 1400px) {
  .audience-card .audience-card-buttom {
    margin-bottom: 0;
    width: 300px;
    margin-right: 30px;
  }
}
.audience-card .audience-card-buttom:hover {
  color: #fff;
  background: #3141C5;
}
@media screen and (min-width: 1400px) {
  .audience-card .audience-card-buttom:last-child {
    margin-right: 0;
  }
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
    align-items: center;
  }
}
.order__email {
  margin-top: 40px;
  background: #fff;
  border: 1px solid #2B292D33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}
.footer__line {
  border-top: 1px solid #2B292D;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about_company {
  margin-top: 44px;
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
.downloads for-large-up {
  margin: 0;
  margin-top: 25px;
  justify-content: left;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    flex-direction: row;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-Links {
  width: 265px;
}
.nav-Links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2B292D;
  margin: 0;
}
.nav-Links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__items {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d99;
}

/*# sourceMappingURL=style.css.map */
