@import 'variables';
@import 'breakpoints';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #2b292d;
}
.page {
	width: 320px;
	margin: auto;
	@include for-large-up {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1400px;
		min-height: 100vh;
	}
}

@import 'common';
@import 'header';
@import 'headline';
@import 'audience';
@import 'order';
@import 'footer';
