// Descriptive naming
// ------------------
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #3040c4;
$color-light-blue: #00a1c612;
$color-darker-blue: #3141c5;
$color-gray: #d9d9d9;
$color-light-gray: #2b292d99;
$color-dark-gray: #2b292d;
$color-peach: #f3c6bd;

// Functional naming
// -----------------
// text
$text-color-primary: $color-dark-gray;
$text-color-white: $color-white;
$text-color-blue: $color-blue;
$text-color-light-gray: $color-light-gray;

// weight
$bold: 700;

//button
$button-bg-blue: $color-blue;
$button-bg-white: $color-white;
